<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Lista de Tarefas</h1>

    <form th:action="@{/addTask}" th:object="${task}" method="post">
        <input type="text" th:field="*{description}" placeholder="Nova tarefa..." required class="task-input">
        <button type="submit" class="add-button">Adicionar</button>
    </form>

    <ul class="task-list">
        <li th:each="task : ${tasks}">
            <span th:text="${task.description}" class="task-description"></span>
            <span th:if="${task.completed}" class="task-status completed">(Concluída)</span>
            <span th:if="${!task.completed}" class="task-status pending">(Pendente)</span>
            <a th:href="@{'/deleteTask/' + ${task.id}}" class="delete-link">Remover</a>
            <a th:href="@{'/completeTask/' + ${task.id}}" class="complete-link">Concluir</a>
        </li>
    </ul>
</div>
</body>
</html>
